{% extends 'main/baseMyFiles.html' %}
{% block content %}
    <div class="site_content_block">
            <div class="list_menu">
                <div class="list_menu_block">
                    <div class="menu">
                        <a class="active" href="">Фото</a>
                        <a href="{% url "me"%}">Документы</a>
                    </div>
                </div>
            </div>
            <div class="info_menu_block">
                <div class="container_menu">
                    <div class="content_menu_block">
                        <div class="wrapper exmpl"> <img src="{{ file.file.url}}"> </div>
                        <div class="menu_block_text_container">
                            <div class="info_menu_block_text"><p>Название</p><p></p></div>
                        </div>
                        <button class="add_files_button" onclick="document.location='{% url "addImage"%}'">+</button>
                    </div>
                </div>
            </div>
            {% for image in images %}
                {% if user.username == image.username%}
                    <div class="files_menu_block">
                        <div class="container_menu">
                            <div class="content_menu_block">
                                <div class="wrapper exmpl"> <img src="{{ image.image.url }}"> </div>
                                <div class="menu_block_text_container">
                                    <div class="info_menu_block_text"><p>{{ image.title }}</p><p>{{ image.filesize}}</p></div>
                                </div>
                                <div class="container_button">
                                    <button class="action_files_button" onclick="window.open('{{ image.image.url }}')">⌕</button>
                                    <a class="action_files_button" href='{{ image.image.url }}' download>⤓</a>
                                    <form method="post" action="{% url 'deleteImage' image.id %}">
                                        {% csrf_token %}
                                        <button class="action_files_button" type="submit">×</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
    </div>
{% endblock %}